---
ssh_user: ansible
aws_keyname: key
aws_environment: {{aws_environment}}
aws_hostname: {{aws_hostname}}
aws_instance_type: {{aws_instance_type}}
aws_security_group: {{aws_security_group}}
aws_ami: {{aws_ami}}
aws_region: {{aws_region}}
vpc_subnet: {{vpc_subnet}} 
vpc: {{vpc_name}}
public_ip_bool: no
instance_count: 1
